nav{
    width: 100%;
    height: 100px;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $p;
    position: sticky;
    top: 0%;
    z-index: 60;
    h2{
        font-size: 1.6rem;
        color: $color6;
    }

    >div{
        display: flex;
        align-items: center;
        gap: 1rem;

        a{
            color: $color6;
            font-weight: 500;
            transition: all 0.3s;
            letter-spacing: 1px;
            border: 1px solid $color1;
            padding: 0.2rem 0.6rem;

            &:hover{
                color: $color3;
                border: 1px solid orange;
                border-radius: 5px;
                transform: scale(1.1)

            }
        }
    }

    >a >button{
        background-color: $color1;
        color: $color6;
        padding: 0.5rem 2rem;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 5px;
        font-size: 0.9rem;

        &:hover{
            transform: scale(1.1);
            background-color: $color6;
            color: $color4;
        }

    }
    
}

.navBtn{
    border: none;
    background-color: transparent;
    color: $color5;
    font-size: 1.4rem;
    display: none;
    width: 40px;
    height: 40px;
    z-index: 150;
    position: fixed;
    top: 2rem;
    right: 2rem;

    &:hover{
    color: $color3;
    }
}

.navPhone{
    transition: all 0.5s;
    width: 100%;
    height: 100vh;
    padding: $p_base;
    background-color: $color5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    z-index: 100;
    transform: translateY(-100%);

    >h2{
        font-size: 2rem;
        color: $color4;
    }

    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color4;
        gap: 2rem;

        >a{
         color: $color4;
         letter-spacing: 1px;
         font-size: 1.2rem;
         font-weight: 500;
         transition: all 0.3s;
         
         &:hover{
            color: $color3;
         }
        }
    }
    >a >button{
        border: 1px solid $color6_1;
        padding: 0.5rem 2rem;
        background-color: $color1;
        color: $color6;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1rem;
        transition: all 0.3s;
        border-radius: 5px;

        &:hover{
            color: $color4;
        }
    }
}

.navPhoneComes{
    transform: translateY(0);
}