@media screen and (max-width: 1367px) {
    nav {
        padding: 0 $p_md;
    }

    #home {
        height: 100vh;

        >section {
            &:first-of-type {
                padding-left: $p_md;

                >aside {
                    width: 85%;

                }
            }
        }
    }

    #work {
        padding: 8rem $p_md;
        height: 110vh;

        >section {

            >article {
                height: 20rem;
                width: 90%;
            }

            .workItem {
                padding: 2rem;
                height: 20rem;
                >aside {
                    >p {
                        margin: 1rem;
                    }

                    >a {
                        margin: 1rem;
                    }
                }
            }
        }
    }

    #services {
        padding: $p_md;

        >section {
            height: 90%;
        }
    }

    #contact>section>form {

        >input,
        >button {
            font: 400 0.8rem $text1;
            width: 50%;
        }

    }

    footer {
        padding-left: $p_md;


    }
}

@media screen and (max-width: 1100px) {
    nav {
        padding: 0 $p_base;
    }

    #home {
        height: 110vh;

        >section {
            &:first-of-type {
                padding-left: $p_md;

                >div {

                    >h1 {
                        font: 900 3rem $text1;
                    }

                    aside {
                        width: 100%;
                    }

                }
            }
        }
    }

    #work {
        padding: 8rem $p_base;

        >section>article {
            .workItem {
                height: 20rem;
            }
        }


    }

    #services {
        padding: $p_base_inverse;
        text-align: center;
    }

    #contact>section>form {

        >input,
        >button {
            font: 400 0.8rem $text1;
            width: 50%;
        }

    }

    footer {
        padding-left: $p_md;

    }
}

@media screen and (max-width: 900px) {
    nav {
        padding: 0 $p_sm;

        h2 {
            font-size: 1.8rem;
        }

        >div {
            gap: 1rem;
        }
    }

    #home {
        height: 110vh;

        >section {
            &:first-of-type {
                padding-left: $p_sm;

                >div {
                    
                    >div {
                        gap: 2rem;
                        width: 100%;
                    }

                    aside {
                        flex-direction: column;
                    }
                }

            }
        }
        >svg{
            font-size: 2rem;
        }
    }

    #work {
        padding: 8rem $p_zero;

        >section {
            >article {
                height: 20rem;


            }


        }
    }

    #services {
        padding: $p_sm_inverse;
        height: 90%;
    }

    #contact>section>form {

        h2 {
            font: 100 2.3rem $text2;
        }

        >button {
            font: 400 0.8rem $text1;
            width: 55%;
        }

    }

    footer {
        padding-left: $p_zero;
        grid-template-columns: 1fr;

        >div {
            width: 100%;
            border: none;

            >p {
                width: 50%;
                margin: 2rem auto;
            }

        }

        >a {
            margin: 2rem;
        }

    }
}



@media screen and (max-width: 800px) {
    nav {

        >div,
        >a {

            display: none;
        }
    }

    .navBtn {
        display: block;

    }

    #home>section>img {
        margin-top: 6rem;

    }

    #work {
        padding: 8rem $p_base;

        >section>article {

            .workItem {
                font-size: 0.9rem;
                height: 22rem;
            }
        }


    }

    #timeline {
        >.timelineBox {
            >.timelineItem {
                padding: 1rem 2rem;

                >div {
                    letter-spacing: 2px;
                }
            }
        }

    }

}

@media screen and (max-width: 720px) {
    #home {
        height: unset;
        flex-direction: column-reverse;

        >section {

            &:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                >div {
                    border: none;
                    padding-top: 3rem;

                    >h1 {
                        font: 900 2.5rem $text1;
                    }

                    >div {
                        flex-direction: column;

                    }

                    >article {
                        display: none;

                    }

                    >aside {
                        align-items: center;

                    }

                    article {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        &::after {
                            top: 0;
                            left: 0;


                        }

                    }

                }

            }

            &:last-of-type {
                border: none;
            }
        }

        >svg {
            margin-bottom: 2rem;
        }
    }

    #work {
        height: 90vh;
        width: 100%;
        padding: $p_zero;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >section {
            border-radius: 0;
            width: 100%;
            >article {
                width: 90%;
                height: 60vmax;
                border-radius: 0;

                .workItem {
                    height: 60vmax;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;

                    >img {
                        margin-top: 1rem;
                        width: 100%;
                        height: 40%;
                        object-fit: contain;
                       
                    }

                    >aside {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: $color4;
                        border-radius: 20px;
                        height: 70%;
                        width: 100%;
                       
                        h3 {
                            font: 800 1.2rem $text2;
                        }
                    }

                    a {
                        border-radius: 10px;
                        font: 900 0.7rem $text2;

                    }
                }

            }


        }
    }

    #timeline {
        >.timelineBox {
            &::after {
                left: 31px;
            }

            >.timelineItem {
                padding-left: 5rem;
                padding-right: 2rem;
                width: 100%;


            }

            .timelineItem:nth-child(odd) {
                text-align: left;
            }


            .rightTimeline {
                left: 0;
            }

            .rightTimeline,
            .leftTimeline {
                &::after {
                    left: 15px;
                }
            }

        }

    }


    #services {

        >section {
            margin: 3rem 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            >.serviceBox1 {
                grid-column: 1/3;
                grid-row: unset;
            }

            >.serviceBox4 {
                grid-column: 1/3;
            }
        }
    }

    #contact {
        grid-template-columns: 1fr;

        >aside {
            display: none;
        }
    }

}

@media screen and (max-width: 420px) {

    
    #services {
        >section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow-x: hidden;
            gap: 1.5rem;
        }
    }


}

@media screen and (max-width: 320px){
    #work {
       

        >section {
           
            >article {
               

                .workItem {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;

                    >img {
                        margin-top: 1rem;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                       
                    }

                    >aside {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: $color4;
                        border-radius: 20px;
                        height: 70%;
                        width: 100%;
                       
                        h3 {
                            font: 800 1.2rem $text2;
                        }
                    }

                    a {
                        border-radius: 10px;
                        font: 900 0.7rem $text2;

                    }
                }

            }


        }
    }

   
}