#work {
    width: 100%;
    height: 100vh;
    padding: 7rem $p;

    >h2 {
        font: 700 2.5rem $text2;
        width: fit-content;
        padding: 0.5rem;
        margin: auto;
        border-bottom: 1px solid $color6_1;
    }

    >section {
        border-radius: 15px;
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        background-color: $color5;
        display: flex;
        justify-content: center;
        align-items: center;

        >article {
            width: 70%;
            height: 26vmax;
            box-shadow: 0 0 5px 5px $color6;
            border-radius: 15px;


            .workItem {
                display: flex;
                overflow-y: auto;
                height: 23vmax;
                width: 98%;
                margin: auto;
                background-color: $color4;
                border-radius: 20px;
                padding: 1rem;


                >img {
                    border-radius: 20px;
                    width: 100%;
                    object-fit: cover;
                }

                >aside {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        letter-spacing: 3px;
                        line-height: 180%;
                        margin-top: 0.6rem;
                        padding: 0.6rem;
                    }

                    a {
                        background-color: $color3;
                        padding: 0.7rem 2rem;
                        margin: 2rem;
                        color: $color4;
                        transition: all 0.5s;

                        &:hover {
                            background-color: $color3_1;
                        }
                    }
                }
            }
        }
    }
}